.control {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.setting {
	display: flex;
	justify-content: center;
	gap: 15px;
}

.error {
	position: absolute;
	bottom: 10px;
	line-height: 1.5;
	font-size: 14px;
	color: red;
}
