.button {
	background-color: #50dbd4;
	color: #242424;
	font-weight: 700;
	&:disabled {
		opacity: 0.3;
		cursor: no-drop;
	}
	&:active {
		transform: scale(0.95);
	}
	&:disabled:active {
		transform: scale(1);
	}
}
