.table {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	color: #242424;
	font-weight: 700;
	border: 1px solid #50dbd4;
	color: #50dbd4;
	border-radius: 20px;
	margin-bottom: 20px;
	font-weight: 700;
}

.max {
	color: red;
}
