.input {
	background-color: #fff;
	color: #242424;
	text-align: center;
	font-weight: 700;
	padding: 5px 15px;
	max-width: 100px;
	border: 1px solid #50dbd4;
	border-radius: 5px;
	outline: none;
}

.error {
	border-color: red;
}
