.wrapper {
	min-height: 200px;
	min-width: 240px;
	max-width: 240px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #b1d36c;
	border-radius: 20px;
	margin-bottom: 20px;
	padding: 10px;
	position: relative;
}
