.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter {
  padding: 25px;
  border: 1px solid #50dbd4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  min-height: 200px;
}
